*__pycache__*
*.pyc
.idea*
bash.sh
kohler/cache/*
.
*.log
*wandb*
*.DS_Store*
qm9/temp/*
kohler/qm9/temp/*
push.sj
bash_qm9.sh
outputs/*
bash_dw4.sh
bash_qm9pos.sh
bash_qm9_analyze.sh
beautiful_figures/ovito_images/*
*toy/samples/*
*toy/loss_components/*
qm9.sh
build/
dist/
EN_diffusion.egg-info/
*/sidechainnet_data/*
*example.pdb
qm9/property_prediction/outputs/*
qm9_conditional.sh
figures/
geom_drugs.sh
notebooks/*
slurm_err/*
slurm_out/*

# custom
Anaconda.sh
Anaconda2024.02-1-Linux-x86_64.sh

data_EDA/*.pkl
data_EDA/data_object_cache/*.pkl
data_EDA/data_object_cache/**/*.pkl

data/**/*.npy
data/**/*.npz
data/**/*.zip
data/**/*.xyz
data/**/*.sdf
data/**/*.pdb
data/**/*.pdbqt

sparsity_check/saved_activations/*
recon_loss_analysis/*

vis_activations/*

outputs_selected/*
outputs_selected*.zip

eval_vae/*
eval_ldm/*
eval_controlnet/*

*.xyz



deployment/**/*.pickle
deployment/**/*.pkl
deployment/**/*.npy
deployment/**/*.npz
deployment/**/*.pth
deployment/**/*.pt

deployment/**/*.csv
deployment/**/*.zip
deployment/**/*.xyz
deployment/**/*.sdf
deployment/**/*.pdb
deployment/**/*.pdbqt

deployment/models/controlnet/*

deployment/tmp/*

.gradio
.gradio/*